/* Variables */
:root {
    --background-color: #0B0C10;
}

/* Global */
body {
    margin: 0;
    background-color: var(--background-color);
    /*background-color: black;*/ /*todo covers the extended scrolling*/
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}

section > h2 {
    border-bottom: 1px solid;
    text-align: center;
    width: 200px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid a, .grid a:hover, .grid a:visited {
    text-decoration: none;
}

.undecorated {
    text-decoration: none;
    color: black;
}

/* Navbar */
nav {
    position: absolute;
    top: 0;
}

nav a, nav a:hover, nav a:visited {
    text-decoration: none;
    color: white;
    padding-top: 20px;
    margin-top: 30px;
}

nav a.main {
    font-size: 20px;
    padding-right: 10px;
}

/* Header */
header {
    background-image: linear-gradient(to bottom right, var(--background-color), #4286f4);
    /*height: 50vh;*/
    padding: 20px;
    height: calc(100vh);
}

#header, header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

header h2 {
    font-weight: 100;
    /*color: white;*/
    color: #C5C6C7;
    text-align: center;
    margin: 10px;
}

header a, header a:hover, header a:visited {
    color: #fff;
    /*background-color: #000;*/
    padding: 10px;
    box-shadow: 0 0 4px #66FCF1;
    font-weight: 700;
    text-decoration: none;
    margin-top: 20px;
}

/* About */
#about {
    text-align: center;
    margin: auto;
    width: 100%;
    background: white;
}

#about div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 100px;
    padding: 10px;
}

#about div img {
    width: 100px;
    height: 100px;
}

#about div span {
    display: block;
    font-size: 17px;
}

/* Projects */
#projects {
    text-align: center;
    /*background-color: grey;*/
    color: white;
    background-color: #264880;
}

#projects .project-item {
    color: white;
}

#projects .project-item:hover {
    color: black;
}

.project-item {
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.project-item:hover {
    /*background-color: #D3D3D3;*/
    background-color: #4286f4;
}

.project-img {
    position: relative;
    flex-shrink: 0;
    margin: 10px;
    overflow: hidden;
    border-radius: 1em;
    display: block;
}

.project-img img {
    width: 100px;
    height: 100px;
}

#projects .project-info h2 {
    margin-bottom: 0px;
}

#projects .project-info span.tags {
    margin-bottom: 10px;
    font-size: 15px;
}

.project-info {
    width: 300px;
    margin: 30px;
    margin-top: 10px;
}

.project-info .tags {
    text-align: center;
    display: block;
}

/* Contact */
#contact {
    text-align: center;
    background: white;
}

#contact i {
    font-size: 30px;
}

#contact i, #contact span {
    display: block;
}

#contact span.name {
    font-weight: bold;
}

#contact a {
    padding: 10px;
    border: 1px solid transparent;
    width: 150px;
}

#contact a:hover {
    background: #e1e1e1;
    border: 1px solid #d0d0d0;
}

/* Footer */
footer {
    padding-top: 20px;
    color: grey;
    background-color: var(--background-color);
    height: 200px;
    text-align: left;
}

footer img {
    width: 230px;
    display: inline-block;
    padding-right: 60px;
    padding-left: 10px;
}

footer div.inline {
    display: inline-block;
    text-align: left;
    width: 100px;
    border-left: 1.5pt solid #2E2C2E;
    height: 90px;
}

footer a {
    text-decoration: none;
}

footer li {
    list-style-type: none;
}

footer div a {
    display: block;
}

footer div.footer-col {
    text-align: left;
    width: 200px;
    border-left: 1.5pt solid #2E2C2E;
}

footer div.footer-col-lg {
    text-align: left;
    width: 400px;
}

footer div.copy {
    display: block;
    margin-top: 30px;
    border-top: 1px solid;
    padding-top: 10px;
}

footer div.footer-col, footer div.footer-col-lg, footer div.copy {
    padding: 10px;
}

footer a.social-link {
    display: inline-block;
}

footer a.social-link i, footer a.social-link i:hover, footer a.social-link i:active {
    font-size: 25px;
    color: white;
    padding: 5px;
}

footer .footer-col ul, footer .footer-col-lg ul {
    padding-left: 10px;
}

/* Media */
@media (min-width: 600px) {
    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 20px;
    }

    .project-item {
        width: 50%;
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 50px;
    }

    header h2 {
        font-size: 25px;
    }

    .project-item {
        width: 80%;
    }
}
